<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlucoseNotifications.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <GlucoseNotifications.My.MySettings>
            <setting name="DB_Hostname" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_User" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Database" serializeAs="String">
                <value />
            </setting>
            <setting name="SSL_Mode" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="Grace_Period" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Check_Interval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="GC_Warning_Text" serializeAs="String">
                <value>GLUECOSE ALERTT</value>
            </setting>
            <setting name="GC_Optional_Image" serializeAs="String">
                <value />
            </setting>
            <setting name="LockExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="soundnumber" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="First_Run" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Dismiss_Web_Hook_URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Health_Check_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Health_Check_URL" serializeAs="String">
                <value />
            </setting>
        </GlucoseNotifications.My.MySettings>
    </userSettings>
</configuration>
